@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-neutral-900 text-text font-header;
  }

  html, body {
    scroll-behavior: smooth;
  }
}

:root {
  color-scheme: dark;
}

@font-face {
  font-family: 'Oswald';
  src:  url('/fonts/Oswald-VariableFont_wght.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src:  url('/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-display: swap;
}