@import 'tailwindcss';

@plugin '@kobalte/tailwindcss';

@theme {
  --color-primary: #191919;
  --color-secondary: #d6b598;
  --color-tertiary: #ffd700;
  --color-background: #eeeeee;
  --color-text: #f4f4f4;
  --color-ally: #3b82f6;
  --color-opponent: #ef4444;

  --color-winrate-shiggo: #ff4e50;
  --color-winrate-meh: #fcb1b2;
  --color-winrate-okay: #fafafa;
  --color-winrate-good: #7ea4f4;
  --color-winrate-great: #3273fa;
  --color-winrate-volxd: #ff9b00;

  --font-header: 'Oswald', sans-serif;
  --font-body:
    'OpenSans', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  --animate-enter: enter 0.15s ease-out;
  --animate-leave: leave 0.1s ease-in forwards;
  --animate-dialog-enter: enter 0.3s ease-out;
  --animate-dialog-leave: leave 0.2s ease-in forwards;
  --animate-enter-opacity: enter-opacity 0.15s ease-out;
  --animate-leave-opacity: leave-opacity 0.1s ease-in forwards;

  @keyframes enter {
    0% {
      transform: scale(0.95);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes leave {
    100% {
      transform: scale(0.95);
      opacity: 0;
    }
    0% {
      transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes enter-opacity {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes leave-opacity {
    100% {
      opacity: 0;
    }
    0% {
      opacity: 1;
    }
  }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer base {
    body {
        @apply bg-neutral-900 text-text font-header;
    }

    html,
    body {
        scroll-behavior: smooth;
    }

    button,
    [role="button"] {
        cursor: default;
    }
}

:root {
    color-scheme: dark;
}

@font-face {
    font-family: "Oswald";
    src: url("/fonts/Oswald-VariableFont_wght.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "OpenSans";
    src: url("/fonts/OpenSans-VariableFont_wdth,wght.ttf") format("truetype");
    font-display: swap;
}

/* Popper */
#arrow,
#arrow::before {
    position: absolute;
    width: 8px;
    height: 8px;
    background: inherit;
}

#arrow {
    visibility: hidden;
}

#arrow::before {
    visibility: visible;
    content: "";
    background-color: #262626;
    border-bottom: rgba(255, 255, 255, 0.2) solid 1px;
    border-right: rgba(255, 255, 255, 0.2) solid 1px;
}

#tooltip[data-popper-placement^="top"] #arrow {
    bottom: -4px;
}
#tooltip[data-popper-placement^="top"] #arrow::before {
    transform: rotate(45deg);
}

#tooltip[data-popper-placement^="bottom"] #arrow {
    top: -4px;
}
#tooltip[data-popper-placement^="bottom"] #arrow::before {
    transform: rotate(225deg);
}

#tooltip[data-popper-placement^="left"] #arrow {
    right: -4px;
}
#tooltip[data-popper-placement^="left"] #arrow::before {
    transform: rotate(-45deg);
}

#tooltip[data-popper-placement^="right"] #arrow {
    left: -4px;
}
#tooltip[data-popper-placement^="right"] #arrow::before {
    transform: rotate(135deg);
}
