name: "Update dataset"
on:
    schedule:
        - cron: "0 12 * * *"
    workflow_dispatch:

defaults:
    run:
        working-directory: apps/dataset

jobs:
    publish:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Setup Bun
              uses: oven-sh/setup-bun@v2
              with:
                  bun-version: latest

            - name: Setup cache
              uses: actions/cache@v4
              with:
                  path: |
                    ~/.bun/install/cache
                    node_modules
                  key: ${{ runner.os }}-bun-${{ hashFiles('**/bun.lockb') }}
                  restore-keys: |
                    ${{ runner.os }}-bun-

            - name: Install app dependencies
              run: bun install

            - name: Update S3 dataset
              run: bun run start
              env:
                  S3_ENDPOINT: ${{ secrets.S3_ENDPOINT }}
                  S3_ACCESS_KEY_ID: ${{ secrets.S3_ACCESS_KEY_ID }}
                  S3_SECRET_ACCESS_KEY: ${{ secrets.S3_SECRET_ACCESS_KEY }}
